.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    border-radius: 5px;
    width: 100%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 10px;
    height: 25px;
    background: rgb(175, 76, 76);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
.display{
    background-color: black;
    border-color: black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    width: 97%;
    padding-top: 10%;
    font-size:50px;
    text-align: right;  
}   
#container{
    border:0px #666 ;
    max-width: 100%;
    margin:0 auto;
    
}
p{
    font-family: Arial;
    font-size: 18px;
}
.select{
    font-size: 15px;
}
#sidebar_left{
    width:160px;;
    height:720px;
    border:0px #666 dashed;
    
    margin-top:0px;
    margin-bottom:0px;
    padding-top:0px;
    padding-left:12px;
    padding-right: 12px;
    float: left;
    font-size: 20px;
    background-color: #f0a259; 
    cursor: url(pen.png),url(pen.cur),auto;
    font-family: Arial,serif;
}
#mainselection {
    overflow:hidden;
    width:150px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 1px 1px 11px #330033;
    background: #58B14C url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
 }
#myCanvas{
    /*background-image: url("frame.jpg");*/
    background-color: #f0ccab;
    float:left;
    /*height: 550;*/
}
#sidebar_right{
    width:79%;
    height:600px;
    border:1px #666 dashed;
    margin-top:0px;
    margin-bottom:0px;
    float:right;
    font-size: 20px;
} 
#trashcan{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.row{
    width: 100%;
    text-align: center;
    line-height: 60px;
}
.btn {
    width: 50px;
    height: 50px;
    background: #757575;
    color: white;
    font-size: 22px;
    transition: background 0.3s;
    border-radius: 50%;
    box-shadow: none;
    border: 0;			
}
.btn2{
    background: orange;
    color: white;
}
.btn3{
    background: #dfdfdf;
    color: black;
}
.btn:hover {
    background: #dddddd;
    color: #FFFFFF;
}	